# OS
.DS_Store
Thumbs.db

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.turbo/
frontend/.vercel/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Env files
frontend/.env.local
frontend/.env.*.local
backend/.env

# Logs
*.log

# IDE
.vscode/
.idea/

# Misc
*.swp
